<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.last.prj.evaluationResult.service.impl.EvaluationResultMapper">


<update id="EvaluationResult" parameterType="EvaluationResultVO" >
		update EVALUATIONRESULT
		set a1 = #{a1},
		a2= #{a2},
		a3 = #{a3},
		a4 = #{a4},
		a5 = #{a5},
		a6 = #{a6},
		a7 = #{a7},
		a8 = #{a8},
		evalcheck ='Y'
		where opennum = #{opennum}
		and sid = #{sid}
	</update>


</mapper>