<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.last.prj.evaluationResult.service.impl.EvaluationResultMapper">


	<update id="EvaluationInsert" parameterType="EvaluationResultVO">
		update
		EVALUATIONRESULT
		set a1 = #{a1},
		a2= #{a2},
		a3 = #{a3},
		a4 = #{a4},
		a5 =
		#{a5},
		a6 = #{a6},
		a7 = #{a7},
		evalcheck ='Y'
		where
		opennum =
		#{opennum}
		and sid = #{sid}
	</update>

	<select id="EvaluationResultpr"
		resultType="EvaluationResultVO">
    select a.a1, nvl(b.cnt,0) as cnt
		from ( 		select a1 as a1, count(a1) as cnt
							from 	EVALUATIONRESULT
							where opennum = #{opennum}
							group by a1) b,
					(		select level as a1,0 as cnt
							from dual
							connect by level <![CDATA[<=]]>5) a
		where a.a1 = b.a1(+)
		order by a.a1
	</select>

	<!-- <select id="EvaluationResultpra2"
		resultType="EvaluationResultVO">
		select a.a2, nvl(b.cnt,0)
		from ( select a2, count(a2) as cnt
		from EVALUATIONRESULT
		where opennum = 14
		group by A2) b,
		(select level as a2,0 as cnt
		from dual
		connect by level  <![CDATA[<=]]>5)
		a
		where a.a2 = b.a2(+)
		order by A2;
	</select>

	<select id="EvaluationResultpra3"
		resultType="EvaluationResultVO">
		select a.a3, nvl(b.cnt,0)
		from ( select a3, count(a3) as cnt
		from EVALUATIONRESULT
		where opennum = 14
		group by A3) b,
		(select level as a3,0 as cnt
		from dual
		connect by level  <![CDATA[<=]]>5)
		a
		where a.a3 = b.a3(+)
		order by A3;
	</select>

	<select id="EvaluationResultpra4"
		resultType="EvaluationResultVO">
		select a.a4, nvl(b.cnt,0)
		from ( select a4, count(a4) as cnt
		from EVALUATIONRESULT
		where opennum = 14
		group by A4) b,
		(select level as a4,0 as cnt
		from dual
		connect by level  <![CDATA[<=]]>5)
		a
		where a.a4 = b.a4(+)
		order by A4;

	</select>


	<select id="EvaluationResultpra5"
		resultType="EvaluationResultVO">
		select a.a5, nvl(b.cnt,0)
		from ( select a5, count(a5) as cnt
		from EVALUATIONRESULT
		where opennum = 14
		group by A5) b,
		(select level as a5,0 as cnt
		from dual
		connect by level  <![CDATA[<=]]>5)
		a
		where a.a5 = b.a5(+)
		order by A5;

	</select>



	<select id="EvaluationResultpra6"
		resultType="EvaluationResultVO">
		select a.a6, nvl(b.cnt,0)
		from ( select a6, count(a6) as cnt
		from EVALUATIONRESULT
		where opennum = 14
		group by A6) b,
		(select level as a6,0 as cnt
		from dual
		connect by level  <![CDATA[<=]]>5)
		a
		where a.a6 = b.a6(+)
		order by A6;
	</select>

	<select id="EvaluationResultpra7"
		resultType="EvaluationResultVO">
		select a.a7, nvl(b.cnt,0)
		from ( select a7, count(a7) as cnt
		from EVALUATIONRESULT
		where opennum = 14
		group by A7) b,
		(select level as a7,0 as cnt
		from dual
		connect by level  <![CDATA[<=]]>5)
		a
		where a.a7 = b.a7(+)
		order by A7;
	</select>
 -->



</mapper>