<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.last.prj.hwProfessor.service.impl.HwProfessorMap">
	 
	<!-- 등록한 과제 리스트조회 -->
	<select id="hw_professorSelectList"  resultType="map">
	 SELECT  
          		 l.lyear  "lyear"
				,l.term	  "term"
       			,i.lname "lname"
       			,l.lrcode "lrcode"
       			,i.lcode "lcode"
       			,p.opennum "opennum"
       			,(select count(*) from hw_student where register_id=p.register_id) "submitCount"
				,( select count(*)from score_mana	sm where sm.opennum=p.opennum)	"newlimitcount" 
				,p.REGISTER_DATE	"register_date"
				,p.PPERIOD			"pperiod"
				,p.register_id "register_id"
				,round((p.pperiod-sysdate)*24*60*60,2) "hwstatus"
				,p.REGISTER_FILE	"register_file"
				,p.PCOMMENT	   	 	"pcomment"
				,l.pid 				"pid"
	   FROM     lecture  l
LEFT OUTER JOIN hw_professor p
         ON      p.OPENNUM=l.OPENNUM
       JOIN     lecture_info i
         ON     l.lnum=i.LNUM
      WHERE l.pid=#{pid}
       and not 	register_id IS null
      	<if test="lyear!=null and lyear!=''">
      	 	and lyear=#{lyear}
      	 </if>
      	  <if test="term!=null and term!=''">
      	 	and term=#{term}
      	 </if>
      	 <if test="lcode!=null and lcode!=''">
      	 	and lcode=#{lcode}
      	 </if>
      	 ORDER BY p.pperiod desc
	</select>
	<!-- 과제제출한 학생목록 -->
	<select id="hw_submitList" resultType="map">
	 SELECT 
	 		 idn.id "submitSid"
	 		,idn.name "name"
	 		,se.submit_file "submit_file"
	 		,to_char(se.submit_date,'yyyy.mm.dd hh24:mi') "submit_date"
	 		,se.scomment "s_comment"
	 		,se.score "score" 
	 		,se.register_id "registerId"
	   FROM
			   		(SELECT hp.register_id AS "hp.regid", sm.* 
		      		   FROM hw_professor hp 
		   			   LEFT OUTER JOIN score_mana sm
     					 ON hp.opennum = sm.opennum WHERE sm.opennum = #{opennum}
     					 )
fir LEFT OUTER JOIN 
					(SELECT hs.*, idn.name FROM hw_professor hp, hw_student hs, id_name idn 
 					  WHERE hp.register_id = hs.register_id 
					    AND hp.register_id = #{registerId}
 					    AND idn.id = hs.submit_sid )se 
 	 	 ON fir.sid = se.submit_sid
 	 	 	,id_name idn
 	  WHERE fir.sid = idn.id
   ORDER BY se.submit_date asc
	</select>
	
	<!-- 강의년도 select -->
	<select id="hw_ySelect" resultType="map">
		SELECT  
	          distinct l.lyear "lyear"
			  FROM  lecture  l
	      LEFT OUTER JOIN hw_professor p
	      ON   p.OPENNUM=l.OPENNUM
	      JOIN lecture_info i
	      on l.lnum=i.LNUM
	      WHERE l.pid=#{pid}
	   ORDER BY l.lyear asc
     </select>
     <!-- 강의명 select -->
	<select id="hwLname" resultType="map">
		SELECT  
	          distinct i.lname "lname"
	          		 , i.lcode "lcode"
			  FROM  lecture  l
	      LEFT OUTER JOIN hw_professor p
	      ON   p.OPENNUM=l.OPENNUM
	      JOIN lecture_info i
	      on l.lnum=i.LNUM
	      WHERE l.pid=#{pid}
	      <!--  onchange이벤트 써야댐,ajax호출 
	     <if test="lyear!=null and lyear!=''">
      	 	and lyear=#{lyear}
      	 </if>
      	  <if test="term!=null and term!=''">
      	 	and term=#{term}
      	 </if>
      	 -->
     </select>
     
     <!-- 점수 IN -->
     <update id="hwScoreIn">
     	UPDATE 
     			hw_student 
     	   SET  score=#{score} 
     	 WHERE  submit_sid=#{submitSid}
     	   AND  register_id=#{registerId}
     </update>
     <!-- 강의년도/강의학기/강의코드로 검색한 결과값 
     <select id="hwSearchList"  resultType="map">
	 SELECT  
          		 l.lyear  "lyear"
				,l.term	  "term"
       			,i.lname "lname"
       			,l.lrcode "lrcode"
				,l.newlimitcount	"newlimitcount" 
				,p.REGISTER_DATE	"register_date"
				,p.PPERIOD			"pperiod"
				,p.REGISTER_FILE	"register_file"
				,p.PCOMMENT	   	 	"pcomment"
				,l.pid 				"pid"
	   FROM     lecture  l
LEFT OUTER JOIN hw_professor p
         ON        p.OPENNUM=l.OPENNUM
       JOIN     lecture_info i
         ON     l.lnum=i.LNUM
      WHERE l.pid=#{pid}
      	  <if test="lyear!=null and lyear!=''">
      	 	and lyear=#{lyear}
      	 </if>
      	  <if test="term!=null and term!=''">
      	 	and term=#{term}
      	 </if>
      	 <if test="lcode!=null and lcode!=''">
      	 	and lcode=#{lcode}
      	 </if>
      	 ORDER BY l.term asc
	</select>
	-->
</mapper>