<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.last.prj.hwProfessor.service.impl.HwProfessorMap">
	 
	<!-- 강의등록 리스트조회 -->
	<select id="hw_professorSelectList"  resultType="map">
	 SELECT  
          		 l.lyear  "lyear"
				,l.term	  "term"
       			,i.lname "lname"
       			,l.lrcode "lrcode"
       			,i.lcode "lcode"
       			,(select count(*) from hw_student where register_id=p.register_id) "submitCount"
				,l.newlimitcount	"newlimitcount" 
				,p.REGISTER_DATE	"register_date"
				,p.PPERIOD			"pperiod"
				,p.register_id "register_id"
				,round((p.pperiod-sysdate)*24*60*60,2) "hwstatus"
				,p.REGISTER_FILE	"register_file"
				,p.PCOMMENT	   	 	"pcomment"
				,l.pid 				"pid"
	   FROM     lecture  l
LEFT OUTER JOIN hw_professor p
         ON        p.OPENNUM=l.OPENNUM
       JOIN     lecture_info i
         ON     l.lnum=i.LNUM
      WHERE l.pid=#{pid}
      	<if test="lyear!=null and lyear!=''">
      	 	and lyear=#{lyear}
      	 </if>
      	  <if test="term!=null and term!=''">
      	 	and term=#{term}
      	 </if>
      	 <if test="lcode!=null and lcode!=''">
      	 	and lcode=#{lcode}
      	 </if>
      	 ORDER BY p.pperiod desc
	</select>
	<!-- 과제제출한 학생목록 -->
	<select id="hw_submitList" resultType="map">
	 select      st.sid "sid"
                ,st.SNAME "sname" 
                ,s.SUBMIT_FILE "submit_file"  
                ,s.SUBMIT_DATE "submit_date"
                ,s.SCOMMENT "scomment"
                ,s.SCORE "score"
       from 	hw_student s 
       join     hw_professor p
         on     s.register_id=p.register_id
       join     students st
         on     s.SUBMIT_SID=st.SID
      where 	p.register_id=#{registerId}
      order by  s.SUBMIT_DATE asc
	</select>
	<!-- 강의년도 select -->
	<select id="hw_ySelect" resultType="map">
		SELECT  
	          distinct l.lyear "lyear"
			  FROM  lecture  l
	      LEFT OUTER JOIN hw_professor p
	      ON   p.OPENNUM=l.OPENNUM
	      JOIN lecture_info i
	      on l.lnum=i.LNUM
	      WHERE l.pid=#{pid}
	   ORDER BY l.lyear asc
     </select>
     <!-- 강의명 select -->
	<select id="hwLname" resultType="map">
		SELECT  
	          distinct i.lname "lname"
	          		 , i.lcode "lcode"
			  FROM  lecture  l
	      LEFT OUTER JOIN hw_professor p
	      ON   p.OPENNUM=l.OPENNUM
	      JOIN lecture_info i
	      on l.lnum=i.LNUM
	      WHERE l.pid=#{pid}
	      <!--  onchange이벤트 써야댐,ajax호출 
	     <if test="lyear!=null and lyear!=''">
      	 	and lyear=#{lyear}
      	 </if>
      	  <if test="term!=null and term!=''">
      	 	and term=#{term}
      	 </if>
      	 -->
     </select>
     
     
     <!-- 강의년도/강의학기/강의코드로 검색한 결과값 
     <select id="hwSearchList"  resultType="map">
	 SELECT  
          		 l.lyear  "lyear"
				,l.term	  "term"
       			,i.lname "lname"
       			,l.lrcode "lrcode"
				,l.newlimitcount	"newlimitcount" 
				,p.REGISTER_DATE	"register_date"
				,p.PPERIOD			"pperiod"
				,p.REGISTER_FILE	"register_file"
				,p.PCOMMENT	   	 	"pcomment"
				,l.pid 				"pid"
	   FROM     lecture  l
LEFT OUTER JOIN hw_professor p
         ON        p.OPENNUM=l.OPENNUM
       JOIN     lecture_info i
         ON     l.lnum=i.LNUM
      WHERE l.pid=#{pid}
      	  <if test="lyear!=null and lyear!=''">
      	 	and lyear=#{lyear}
      	 </if>
      	  <if test="term!=null and term!=''">
      	 	and term=#{term}
      	 </if>
      	 <if test="lcode!=null and lcode!=''">
      	 	and lcode=#{lcode}
      	 </if>
      	 ORDER BY l.term asc
	</select>
	-->
</mapper>