<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.last.prj.hwProfessor.service.impl.HwProfessorMap">
	 
	<!-- 등록한 과제 리스트조회 -->
	<select id="hw_professorSelectList"  resultType="map">
	 SELECT  
          		 l.lyear  "lyear"
				,l.term	  "term"
       			,i.lname "lname"
       			,l.lrcode "lrcode"
       			,i.lnum "lnum"
       			,p.opennum "opennum"
       			,p.PCOMMENT "pcomment"
       			 ,l.dividenum "dividenum"
                ,l.book "book"
                ,l.datestatus "datastatus"
       			,(select count(*) from hw_student where register_id=p.register_id) "submitCount"
				,( select count(*)from score_mana	sm where sm.opennum=p.opennum)	"newlimitcount" 
				,p.REGISTER_DATE	"register_date"
				,p.PPERIOD			"pperiod"
				,p.register_id "register_id"
				,trunc(p.pperiod)-trunc(sysdate)  "hwstatus"
				,p.REGISTER_FILE	"register_file"
				,p.PCOMMENT	   	 	"pcomment"
				,l.pid 				"pid"
	   FROM     lecture  l
LEFT OUTER JOIN hw_professor p
         ON      p.OPENNUM=l.OPENNUM
       JOIN     lecture_info i
         ON     l.lnum=i.LNUM
       JOIN    lecture_room lr
         ON    l.lrcode=lr.lrcode
      WHERE l.pid=#{pid}
       and not 	register_id IS null
       	<if test="lyear==null and lyear!=''">
       		and lyear=2021
       	</if>
      	<if test="lyear!=null and lyear!=''">
      	 	and lyear=#{lyear}
      	 </if>
      	  <if test="term!=null and term!=''">
      	 	and term=#{term}
      	 </if>
      	 <if test="lnum!=null and lnum!=''">
      	 	and l.lnum=#{lnum}
      	 </if>
      	 ORDER BY p.register_date desc
	</select>
	<!-- 과제제출한 학생목록 
	<select id="hw_submitList" resultType="map">
	 SELECT 
	 		 idn.id "submitSid"
	 		,idn.name "name"
	 		,se.submit_id "submitId"
	 		,se.submit_file "submit_file"
	 		,to_char(se.submit_date,'yyyy.mm.dd hh24:mi') "submit_date"
	 		,se.scomment "s_comment"
	 		,se.score "score" 
	 		,se.register_id "registerId"
	 		,fir.opennum "opennum"
	   FROM
			   		(select * from score_mana where opennum=#{opennum}
     					 )
fir LEFT OUTER JOIN 
					(SELECT hs.*, idn.name FROM hw_professor hp, hw_student hs, id_name idn 
 					  WHERE hp.register_id = hs.register_id 
					    AND hp.register_id = #{registerId}
 					    AND idn.id = hs.submit_sid )se 
 	 	 ON fir.sid = se.submit_sid
 	 	 	,id_name idn
 	  WHERE fir.sid = idn.id
   ORDER BY se.submit_date asc
	</select>
	-->
	
	<!-- 과제제출한 학생목록 수정버전 -->
	<select id="hw_submitList" resultType="map">
		SELECT 
				 idn.ID "submitSid"
		        ,idn.NAME "name"
		        ,s.SUBMIT_FILE "submit_file"
		        ,to_char(s.submit_date,'yyyy.mm.dd hh24:mi') "submit_date"
		        ,s.SCOMMENT "s_comment"
		        ,s.score "score"
		        ,s.register_id "registerId"
		        ,p.opennum "opennum"
			   FROM hw_student s
		     JOIN hw_professor p
		      on s.REGISTER_ID= p.REGISTER_ID
		     JOIN id_name idn
		       on  s.SUBMIT_SID=idn.ID
		     WHERE s.REGISTER_ID=#{registerId}
		   ORDER BY s.submit_date asc
	</select>
	
	
	<!--과제미제출자  수정버전--> 
	<select id="hw_submitNList" resultType="map">
   SELECT 	idn.id "submitSid"
   		    ,idn.name "name"
     FROM  	score_mana sm
  	 LEFT 	outer join hw_student s 
 	   ON	sm.SID=s.SUBMIT_SID
 	 JOIN  id_name idn
 	   ON  idn.id=sm.sid
    WHERE   sm.opennum=#{opennum}
      AND   s.SUBMIT_SID is null
	</select>
	
	
	<!-- 강의년도 select -->
	<select id="hw_ySelect" resultType="map">
		SELECT  
	          distinct l.lyear "lyear"
			  FROM  lecture  l
	      LEFT OUTER JOIN hw_professor p
	      ON   p.OPENNUM=l.OPENNUM
	      JOIN lecture_info i
	      on l.lnum=i.LNUM
	      WHERE l.pid=#{pid}
	      and l.lyear!=2021
	   ORDER BY l.lyear asc
     </select>
     <!-- 강의명 select -->
	<select id="hwLname" resultType="map">
		SELECT  
	          distinct i.lname "lname"
	          		 , i.lnum "lnum"
			  FROM  lecture  l
	      LEFT OUTER JOIN hw_professor p
	      ON   p.OPENNUM=l.OPENNUM
	      JOIN lecture_info i
	      on l.lnum=i.LNUM
	      WHERE l.pid=#{pid}
	      <!--  onchange이벤트 써야댐,ajax호출 
	     <if test="lyear!=null and lyear!=''">
      	 	and lyear=#{lyear}
      	 </if>
      	  <if test="term!=null and term!=''">
      	 	and term=#{term}
      	 </if>
      	 -->
     </select>
     
     <!-- 점수 IN -->
     <update id="hwScoreIn">
	     	UPDATE  hw_student 
	     	   SET  score=#{score} 
	     	 WHERE  submit_sid=#{submitSid}
	     	   AND  register_id=#{registerId}
     </update>
     <!-- score_mana Update -->
     <update id="hwAvgUpdate">
	        UPDATE	score_mana
		  	   SET  homework=autoscore(#{submitSid},#{opennum}) 
		     WHERE  sid=#{submitSid} 
		       AND opennum=#{opennum}
     </update>
     
     <!-- 제출학생 파일 삭제 -->
     <delete id="hwSubmitDel">
     	DELETE 
          FROM	hw_student
         WHERE submit_id=${submitId}
          	
     </delete>
	

	<!-- 등록페이지/ 과제등록가능한 교수 강의목록 default 2021년-->
	<select id="hwPfInsertSelect" resultType="map">
		  SELECT  
          		distinct l.lyear  "lyear"
				         ,l.term "term"
       			         ,i.lname "lname"
       			         ,l.book "book"
       			         ,l.lrcode "lrcode"
       			         ,i.lnum "lnum"
                		 ,l.opennum "opennum"
                		 ,l.dividenum "dividenum"
                		 ,lr.location "location"
         			     ,lr.lrname "lrname"
			   FROM      lecture  l
		       JOIN      lecture_info i
		         ON      l.lnum=i.LNUM
		       JOIN 	 lecture_room lr
                 ON 	 l.lrcode=lr.lrcode
		      WHERE		 l.pid=#{pid}
        and l.lyear = TO_CHAR(sysdate,'RRRR')
		        AND 	 l.datestatus='수강중'
	</select>
	<!-- 교수 과제 등록 -->
	<insert id="hwPfInsert">
		INSERT 
		  INTO hw_professor
		VALUES (
					 register_seq.nextval
					,#{opennum}
					,sysdate
					,#{pperiod}
			       ,#{registerFile}
					,#{pcomment}
				)	
		  
	</insert>
	<!-- 교수가 등록한 과제삭제 -->
	<delete id="hwPfDelete">
		DELETE
		  FROM hw_professor
		 WHERE register_id=#{registerId}	
	</delete>
	
	
	<!-- 교수 과제 정보변경 -->
	<update id="hwUpdate">
		UPDATE	hw_professor
		   SET  pperiod=#{pperiod}
		   	   ,pcomment=#{pcomment}
		   	   ,register_file=#{registerFile}
		 WHERE register_id=#{registerId}
	</update>
	
	

	
</mapper>