<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.last.prj.preenrolment.service.impl.PreEnrolmentMapper">
	
	<select id="PreStudentSelect" resultType="StudentsVO" parameterType="string">
		select * from students where sid = #{sid}
	</select>
	
	<select id="preLectureList" resultType="PreEnrolmentVO" parameterType="StudentsVO">
		
		select l.LNUM||'-'||l.dividenum as lnum, li.lname, li.credit, FIND_CODE_NAME(100, li.dcode) as division,
        l.TIMETABLE||' / '||lr.LRNAME as timeTable,l.opennum,
        case when retake_Check(#{sid},l.opennum) = '001' then 'Y'
             when retake_Check(#{sid},l.opennum) = '002' then 'N'
             end as retake
		from lecture_info li, LECTURE l, lecture_room lr, MAJOR_VIEW mv
		where li.LNUM = l.LNUM
		and mv.MCODE = li.MCODE
		and l.LRCODE = lr.LRCODE
		and l.lyear = to_char(sysdate,'RRRR')
		and l.term = case when to_char(sysdate,'MM') >= 02 and to_char(sysdate,'MM')<![CDATA[<=]]>08  then 1
		           		else 2 end
		and li.GRADE = #{grade}
		and opennum not in (select opennum from preenrolment where sid = #{sid})
		<if test="dcode != 'defaultV' and dcode != null">
			<choose>
				<when test="mcode != 'defaultV' and mcode != null">
					and mv.dcode = #{dcode}
					and mv.mcode = #{mcode}
					and li.DCODE NOT IN ('003','004')
				</when>
				<when test='dcode =="gyo"'>
					 and li.DCODE IN ('003','004')
				</when>
				<otherwise>
					and mv.dcode = #{dcode}
					and li.DCODE NOT IN ('003','004')
				</otherwise>
			</choose>
		</if>
	</select>
	
	<select id="preDepartments" resultType="PreEnrolmentVO">
		select * from departments ORDER BY DNAME
	</select>
	
	<select id="getMajorList" resultType="PreEnrolmentVO" parameterType="PreEnrolmentVO">
		select * from major where dcode = #{dcode}
	</select>
	
	<select id="enrolmentpackage" resultType="PreEnrolmentVO" parameterType="string">
		select l.LNUM||'-'||l.dividenum as lnum, li.lname,li.credit,
				find_code_name(100,li.dcode) as division, l.TIMETABLE||' / '||lr.LRNAME as timetable, 
				case when retake_Check(#{sid},l.opennum) = '001' then 'Y'
					 when retake_Check(#{sid},l.opennum) = '002' then 'N'
				end as retake,l.opennum
		FROM PREENROLMENT P, LECTURE L, LECTURE_INFO LI, LECTURE_ROOM LR
		WHERE P.OPENNUM = L.OPENNUM
		AND L.LNUM = LI.LNUM
		AND L.LRCODE = LR.LRCODE
		AND P.SID = #{sid}
	</select>
	
	<select id="preEnrolmentlimitCheck" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM PREENROLMENT  WHERE SID = #{sid}
	</select>
	
	<insert id="preEnrolmentinsert" parameterType="PreEnrolmentVO">
		insert into PREENROLMENT(sid,opennum,retake) VALUES(#{sid},#{opennum},case when #{retake} = 'N' then '002'
                                  							   					   when #{retake} = 'Y' then '001' end)
	</insert>
	
	<delete id="preEnrolmentdelete" parameterType="PreEnrolmentVO">
		delete from preenrolment where sid = #{sid} and opennum = #{opennum}
	</delete>
</mapper>