<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.last.prj.preenrolment.service.impl.PreEnrolmentMapper">
	
	<select id="PreStudentSelect" resultType="StudentsVO" parameterType="string">
		select * from students where sId = #{sId}
	</select>
	
	<select id="preLectureList" resultType="PreEnrolmentVO" parameterType="StudentsVO">
		
		select l.lnum, li.lname, li.credit, FIND_CODE_NAME(100, li.dcode) as division,
        l.TIMETABLE||' / '||lr.LRNAME as timeTable,
        case when retake_Check(#{sid},l.opennum) = '001' then 'Y'
             when retake_Check(#{sid},l.opennum) = '002' then 'N'
             end as reTake
		from lecture_info li, LECTURE l, lecture_room lr
		where li.LNUM = l.LNUM
		and l.LRCODE = lr.LRCODE
		and l.lyear = to_char(sysdate,'RRRR')
		and l.term = case when to_char(sysdate,'MM') >= 02 and to_char(sysdate,'MM')<![CDATA[<=]]>08  then 1
		           		else 2 end
		and li.GRADE = #{grade}
		and opennum not in (select opennum from preenrolment where sid = #{sid})
		<if test="dcode != 'defaultV' and dcode != null">
			<choose>
				<when test="mcode != 'defaultV' and dcode != null">
					and dcode = #{dcode}
					and mcode = #{mcode}
				</when>
				<otherwise>
					and dcode = #{dcode}
				</otherwise>
			</choose>
		</if>
	</select>
	
	<select id="preDepartments" resultType="PreEnrolmentVO">
		select * from departments
	</select>
	
	<select id="getMajorList" resultType="PreEnrolmentVO" parameterType="PreEnrolmentVO">
		select * from major where dcode = #{dcode}
	</select>
</mapper>