<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.last.prj.professor.service.impl.ProfessorMap">
	<select id="professorSelect" parameterType="professorVO" resultType="professorVO">
		SELECT * FROM 
		PROFESSOR
		WHERE PID= #{pid}
	</select>
	
	
	<!-- 강의 정보리스트 -->	
	<select id="lectureList" resultType="ProfessorLectureVO">	
		select find_code_name(100, v.dcode) as division, v.CREDIT,v.grade,v.lname, p.pname, p.email,
		p.PPHONE, l.*, m.DNAME, m.MNAME, r.LRNAME, p.PSTATUS, s.w1, s.w2, s.w3, s.w4, s.w5, s.w6, s.w7, s.w8, s.w9, s.w10, s.w11, s.w12, s.w13, s.w14, s.w15, s.w16,s.content
		from lecture_info v, LECTURE l, professor p, MAJOR_VIEW m,
		LECTURE_ROOM r, study_plan s
		where v.LNUM = l.LNUM
		and l.pid = p.pid
     	and l.opennum = s.opennum
		and p.mcode = m.mcode
		and l.LRCODE = r.LRCODE
    	and l.lyear = to_char(sysdate,'YYYY') 
		and l.PID = #{pid}
	</select>	
	
	<select id="professorInfo" parameterType="ProfessorVO" resultType="ProfessorVO">
		select p.pid, p.pname,FIND_CODE_NAME(210,p.PSTATUS)as pstatus, p.EMAIL, p.PPHONE, p.PBIRTH, p.PGENDER,
				mv.DNAME, mv.MNAME, FIND_CODE_NAME(220,p.position) as position
		FROM PROFESSOR P, MAJOR_VIEW MV
		WHERE P.MCODE = MV.MCODE
		AND P.PID = #{pid}
	</select>
	
	<select id="guidanceStudent" resultType="StudentsVO">
		select sid, sname,SPHONE, GRADE, SGENDER, DISABLED,FIND_CODE_NAME(300,SSTATUS)as sstatus, SBIRTH
		from students
		where pid = #{pid}
	</select>
</mapper>