<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.last.prj.professor.service.impl.ProfessorMap">
	<select id="professorSelect" parameterType="professorVO" resultType="professorVO">
		SELECT * FROM 
		PROFESSOR
		WHERE PID= #{PID}
	</select>
</mapper>