<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.last.prj.scoreCheck.service.impl.ScoreCheckMapper">

	<select id="ScoreCheckLectureList"  parameterType="LectureVO"  resultType="LectureVO">
	    select l.OPENNUM,l.lnum,l.DIVIDENUM,l.LYEAR,l.TERM, li.GRADE, li.lname, l.BOOK,find_code_name(100,li.dcode) as division,
	    l.NEWLIMITCOUNT, lr.LRNAME, l.TIMETABLE,  l.DATESTATUS
	    from lecture l, lecture_info li, LECTURE_ROOM lr
	    where l.lnum = li.lnum
	    and l.LRCODE = lr.LRCODE
	    and l.pid=#{pid}
	    and lyear = to_char(sysdate, 'RRRR')
           			 and term = 1  	
	    order by 1
	</select>

	<select id="ScoreCheckLectureStudent" parameterType="ScoreManaVO" resultType="ScoreManaVO">
		SELECT SM.OPENNUM, SM.SID, S.SNAME, L.LNUM, LI.LNAME, SM.MIDDLESCORE, SM.FINALSCORE, SM.HOMEWORK, SM.ATTENDANCESCORE, SM.TOTAL, SM.RANK
		FROM SCORE_MANA SM, STUDENTS S, LECTURE L, LECTURE_INFO LI
		WHERE SM.SID = S.SID
		AND L.OPENNUM = SM.OPENNUM
		AND L.LNUM = LI.LNUM
		AND L.PID = #{pid}
		AND SM.OPENNUM = #{opennum}
	</select>
	
	
	<select id="collectresult" parameterType="LectureVO" resultType="LectureVO">
			        select l.OPENNUM,l.lnum,l.DIVIDENUM,l.LYEAR,l.TERM, li.GRADE, li.lname, l.BOOK,find_code_name(100,li.dcode) as division,
				    l.NEWLIMITCOUNT, lr.LRNAME, l.TIMETABLE,  l.DATESTATUS
				    from lecture l, lecture_info li, LECTURE_ROOM lr
				    where l.lnum = li.lnum
				    and l.LRCODE = lr.LRCODE
				    and l.pid=#{pid}
				     and lyear = to_char(sysdate, 'RRRR')
           			 and term = 1 	
				    
	</select>
	
	<!-- 등록 업데이트 -->
	<update id="ScoreInsert" parameterType="ScoreManaVO">
			update SCORE_MANA
			set MIDDLESCORE = #{middlescore},
            	FINALSCORE = #{finalscore},
            	ATTENDANCESCORE = #{attendancescore}
            WHERE OPENNUM = #{opennum}
            AND SID = #{sid}
	</update>
</mapper>