<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.last.prj.students.service.impl.StudentsMap">

	<!-- 학생 본인 정보 조회 -->
	<resultMap type="elseStudents" id="else">
		<result column = "student_status" property="student_status"/>
	</resultMap>
	<select id="studentInfo" resultMap = "else">
		SELECT M.MNAME, 
		        P.PNAME,
		        S.SID, S.SNAME, S.SADDRESS, S.EMAIL, S.SPHONE,
		        S.ENTER_DATE, S.GRADE, S.TERM, S.SBIRTH, S.SGENDER, S.DISABLED,
		        FIND_CODE_NAME(300, S.SSTATUS) STUDENT_STATUS
		FROM MAJOR M, STUDENTS S, PROFESSOR P
		WHERE M.MCODE = S.MCODE
		AND S.MCODE = P.MCODE
		AND P.POSITION = '001'
		AND S.SID = #{sid}
	</select>
	
	<!-- 학생 본인 성적 조회 -->	
	<resultMap type="elseStudents" id="unKnown">
		<result column = "total" property = "total"/>
		<result column = "rank" property = "rank"/>
		<result column = "term" property = "term"/>
		<result column = "lname" property = "lname"/>
		<result column = "lyear" property = "lyear"/>
		<result column = "division" property = "division"/>
		<result column = "credit" property = "credit"/>	
	</resultMap>
	<select id="scoreView" resultMap="unKnown">
		SELECT M.TOTAL, M.RANK, 
		        S.GRADE,
		        L.LYEAR, L.TERM, I.LNAME,
		        I.CREDIT, FIND_CODE_NAME(100, I.DCODE) DIVISION
		FROM SCORE_MANA M, STUDENTS S, LECTURE L, LECTURE_INFO I
		WHERE M.SID = S.SID
		AND M.OPENNUM = L.OPENNUM
		AND L.LNUM = I.LNUM
		AND S.SID = #{sid}
	</select>
	
	
	<!-- 학생 정보 수정 -->
	<update id="studentUpdate">
		UPDATE STUDENTS
		SET PWD = #{pwd}
		WHERE SID = #{sid}
	</update>
	
	
</mapper>