<?xml version="1.0" encoding="UTF-8"?>		
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">		
<mapper		
	namespace="com.last.prj.studyplan.service.impl.StudyPlanMapper">	
		
		
	<!-- lecture 강의명/강의코드//정원/교재 professor 이름/이메일/전화번호 lecture_info_view 이수구분/과목코드/대상학년/학점/개설학과	
		major_view 전공이름 departments 학과이름 -->
		
		
	<!-- 강의 정보리스트 -->	
	<select id="studyPlanList" resultType="StudyplanJoinVO" parameterType="StudyplanJoinVO">	
		select find_code_name(100, v.dcode) as division, v.CREDIT,v.grade,v.lname, p.pname, p.email,
		p.PPHONE, l.*, m.DNAME, m.MNAME, r.LRNAME, p.PSTATUS, s.w1, s.w2, s.w3, s.w4, s.w5, s.w6, s.w7, s.w8, s.w9, s.w10, s.w11, s.w12, s.w13, s.w14, s.w15, s.w16,s.content
		from lecture_info v, LECTURE l, professor p, MAJOR_VIEW m,
		LECTURE_ROOM r, study_plan s
		where v.LNUM = l.LNUM
		and l.pid = p.pid
     and l.opennum = s.opennum
		and p.mcode = m.mcode
		and l.LRCODE = r.LRCODE 
		and l.PID = #{pid}
	</select>	
	
	<!-- 인서트 페이지 -->
		<select id="selectresult" resultType="StudyplanJoinVO" parameterType="StudyplanJoinVO">
		select find_code_name(100, v.dcode) as division, v.CREDIT,v.grade, v.lname,p.pname, p.email,
		p.PPHONE, l.*,  m.DNAME, m.MNAME, r.LRNAME, p.PSTATUS, s.*
		from lecture_info v, LECTURE l, professor p, MAJOR_VIEW m,
		LECTURE_ROOM r, study_plan s
		where v.LNUM = l.LNUM
    and s.opennum = l.opennum
		and l.pid = p.pid
		and p.mcode = m.mcode
		and l.LRCODE = r.LRCODE 
		and l.PID = #{pid}
		 and l.opennum = #{opennum}
		</select>
		
	<!-- 등록 업데이트 -->	
	<update id="studyplanInsert" parameterType ="StudyplanJoinVO">	
		update study_plan
		set w1 = #{w1},
		w2= #{w2},
		w3 = #{w3},
		w4 = #{w4},
		w5 = #{w5},
		w6 = #{w6},
		w7 = #{w7},
		w8 = #{w8},
		w9 = #{w9},
		w10 = #{w10},
		w11 = #{w11},
		w12 = #{w12},
		w13 = #{w13},
		w14 = #{w14},
		w15 = #{w15},
		w16 = #{w16},
		content = #{content}
		where opennum = #{opennum}
	</update>	
		
		
	<!-- 업데이트 -->	
	<update id="studyplanUpdate" parameterType ="StudyplanJoinVO">	
		update study_plan
		set w1 = #{w1},
		w2= #{w2},
		w3 = #{w3},
		w4 = #{w4},
		w5 = #{w5},
		w6 = #{w6},
		w7 = #{w7},
		w8 = #{w8},
		w9 = #{w9},
		w10 = #{w10},
		w11 = #{w11},
		w12 = #{w12},
		w13 = #{w13},
		w14 = #{w14},
		w15 = #{w15},
		w16 = #{w16},
		content = #{content}
		where opennum = #{opennum}
	</update>	
		
		
	<!-- 학생 읽기 페이지 -->
		<select id="studyplanReadonlyPage" resultType="StudyplanJoinVO">
		select find_code_name(100, v.dcode) as division, v.CREDIT,v.grade, v.lname,p.pname, p.email,
		p.PPHONE, l.*,  m.DNAME, m.MNAME, r.LRNAME, p.PSTATUS, s.*
		from lecture_info v, LECTURE l, professor p, MAJOR_VIEW m,
		LECTURE_ROOM r, study_plan s
		where v.LNUM = l.LNUM
    and s.opennum = l.opennum
		and l.pid = p.pid
		and p.mcode = m.mcode
		and l.LRCODE = r.LRCODE 
<!-- 		 and l.opennum = #{opennum} -->
		and l.PID = #{pid}

		</select>
		
		
			<!-- 강의년도 select -->
	<select id="ySelect" resultType="map">
		SELECT  
	          distinct l.lyear "lyear"
			  FROM  lecture  l
	      LEFT OUTER JOIN hw_professor p
	      ON   p.OPENNUM=l.OPENNUM
	      JOIN lecture_info i
	      on l.lnum=i.LNUM
	      WHERE l.pid=#{pid}
	   ORDER BY l.lyear asc
     </select>
     <!-- 강의명 select -->
	<select id="Lname" resultType="map">
		SELECT  
	          distinct i.lname "lname"
			  FROM  lecture  l
	      LEFT OUTER JOIN hw_professor p
	      ON   p.OPENNUM=l.OPENNUM
	      JOIN lecture_info i
	      on l.lnum=i.LNUM
	      WHERE l.pid=#{pid}
	      </select>
		
		
		
	
</mapper>		